.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80px;
    background-color: grey;
}

.navbar h2 {
    color: white;
    font-size: 25px;
    font-weight: 500;
    padding: 0px 20px;
}

.navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.navmenu li {
    display: inline-block;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
}

.navmenu li a {
    color: white;
    margin-left: 10px;
    padding: 0px 25px;
    font-size: 23px;
    font-weight: 500px;
}

.btn button {
    width: 100px;
    height: 36px;
    border: 1px solid black;
    
    color: black;
    font-size: 18px;
    border-radius: 20px;
    margin-right: 20px;
    cursor: pointer;
}

/* .search-box .search { 
    padding: 12px 8px;
    border-radius: 50px;
    font-size: 16px;
}

.search-box .search i {
    color: white;
    position: relative;
    right: 50px;
    top: 2px;
    background-color: green;
    padding: 12px;
    border-radius: 50px;
}
    */

.header {
    width: 100%;
}

.main-header {
    width: 75%;
    margin: auto;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-header h5 {
    font-size: 22px;
    color: green;
    font-weight: 550;
}

.main-header h2 {
    font-size: 60px;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 24px;
    font-family: algerian;
}

.main-header p {
    margin-bottom: 60px;
    font-family: serif;
    font-weight: bold;
}

.main-header .btn {
    background: orange;
    border: 1px solid green;
    font-size: 24px;
    color: aliceblue;
    font-weight: 400;
    padding: 10px 30px;
    border-radius: 50px;
    margin-bottom: 300vh;
}

.main-header .btn:hover {
    color: yellow;
    background: wheat;
}

.main-header img {
    width: 560px;
    height: 400px;
}


/*---category---*/

#books {
    width: 100%;
    padding: 70px 0;

}

#books h1 {
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#books h1 span {
    color: green;
    margin-left: 5px;
    font-family: mv boli;
    text-align: center;
}

#books h1 span::after {
    content: '';
    width: 100%;
    height: 2px;
    background: red;
    display: block;
    position: relative;
    bottom: 15px;
}

#books h5 {
    text-align: center;
    font-size: medium;
    display: block;
    position: relative;
    bottom: 15px;
    font-family: mv boli;
}

#books .books_box {
    width: 100%;
    margin: 65px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 55px;
}

#books .books_box .books_card {
    width: 325px;
    height: 200px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px black;
    height: 375px;
}

#books .books_box .books_card .books_image {
    width: 300px;
    height: 245px;
    overflow: hidden;
    margin-left: 10px;
}

#books .books_box .books_card .books_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#books .books_box .books_card .books_image:hover img {
    transform: scale(1.1);
}

#books .books_box .books_card .books_info h2 {
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: black;
}

#books .books_box .books_card .books_info h3 {
    text-align: center;
    margin-top: 10px;
    color: black;
}

.books .books_box .books_card .books_info h3 strike {
    font-size: 13px;
    color: beige;
}


#books .books_box .books_card .books_info .books_btn {
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: green;
    padding: 8px 10px;
    margin: 0 80px;
    transition: 0.3s;
}


/* About section */

.set-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: auto;
}

.set-row img {
    width: 680px;
    height: auto;
    padding-right: 100px;
}

.about {
    background: white;
    width: 100%;
    padding: 80px 0px;
}

.set-row .about-content {
    padding-left: 30px;
    margin-bottom: 60px;
}

.set-row .about-content h2 {
    font-size: 42px;
    padding-bottom: 10px;
    color: green;
}

.set-row .about-content p {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 46px;
    color: black;
}



/* Contact us */

#contactus {
    background: white;
    width: 100%;
}
#contactus h2{
    font-size: 40px;
}

.contact-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding-top: 40px;
}

.contact-row form input,
textarea {
    width: 200%;
    height: 40px;
    margin-top: 20px;
    padding: 6px 0;
    text-indent: 10px;
    font-size: 18px;
    background-color: gray;
    border: 1;
    border-color: black;
}

.contact-row form input::placeholder,
textarea::placeholder {
    color: black;
}

.contact-row form input[type="submit"] {
    text-align: center;
    height: 50px;
    cursor: pointer;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    outline: none;
}

.contact-row form input[type="submit"]:hover {
    border: 1px solid green;
    color: green;
    background: white;
}

.contact-row .col img {
    width: 570px;
    height: auto;
    padding-left: 20px;
}

.contact-row .col h2 {
    font-size: 24px;
    font-weight: 600;
}

.footer p {
    background: white;
    text-align: center;
    font-weight: 300px;
}

html{
    scroll-behavior: smooth;

}

.arrow{
    position: fixed;
    background-color: white;                                                
    border-radius: 50px;
    height: 50px;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}